[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RJSONIO"]
	path = RJSONIO
	url = https://github.com/cran/RJSONIO
[submodule "bpgmm"]
	path = bpgmm
	url = https://github.com/cran/bpgmm
[submodule "cmmr"]
	path = cmmr
	url = https://github.com/yaoxiangli/cmmr
[submodule "ggpca"]
	path = ggpca
	url = https://github.com/yaoxiangli/ggpca
[submodule "ggvolcano"]
	path = ggvolcano
	url = https://github.com/yaoxiangli/ggvolcano
[submodule "oglcnac"]
	path = oglcnac
	url = https://github.com/yaoxiangli/oglcnac
[submodule "rconf"]
	path = rconf
	url = https://github.com/cran/rconf
